.todo-list {
    display: flex;
    justify-content: center;
    font-family: Arial;
  }
  
  .task-list-header {
    text-align: center;
  }
  
  .simple-border-style {
    border: solid;
    border-radius: 0px;
    border-width: 3px;
  }
  
  .task-name-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .task-name-input {
    height: 40px;
    width: 65%;
    margin-right: 5px;
  }
  
  .add-task-btn {
    height: 48px;
    flex: 1;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .task-list-cont {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  .task {
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
  }
  
  .task input {
    width: 20px;
    height: 20px;
  }
  
  .task div {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
  }
  
  .task button {
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .delete-icon {
    width: 12px;
  }
  
  .task input:checked + .task-name {
    text-decoration: line-through;
  }
  