<div class="todo-list">
  <div class="task-list-cont">
    <h3 class="task-list-header">Thomas Task List</h3>
    <div class="task-name-form">
      <input class="task-name-input simple-border-style" type="text" />
      <button class="add-task-btn simple-border-style">ADD</button>
    </div>
    <div class="task simple-border-style">
      <input type="checkbox" />
      <div class="task-name">Tarea 1</div>
      <button>
        <img class="delete-icon" src="./assets/tcan.svg" alt="" />
      </button>
    </div>
    <div class="task simple-border-style">
      <input type="checkbox" />
      <div class="task-name">Tarea 2</div>
      <button>
        <img class="delete-icon" src="./assets/tcan.svg" alt="" />
      </button>
    </div>
  </div>
</div>
